.curve {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.curve h6 {
    width: 88px;
}
.curve h6, .curve p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.44px;
    color: #383874;
}

.curveDivs {
    display: flex;
    gap: 2px;
    position: relative;
}

.curveDivs > div {
    width: 17px;
    height: 21px;
    background: #DBDFF1;
    opacity: 0.7;
    border-radius: 1px;
}

.curveDivs svg {
    position: absolute;
}